<% orders_list.each do |ord| %>

<table class="table">
  <thead>
  <tr>
    <th>Tipo</th>
    <th>Sucursal</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td><%= ord.mode %></td>
    <td><%= ord.branch_id %></td>
    <td><%= link_to 'Aceptar', branch_order_path(@branch,ord),:class=>"btn btn-primary"  %></td>
  </tr>
</tbody>
</table>


<% end  %>
