<h1>Lista de ordenes</h1>
<div class="span10">
<table class="table table-bordered">
  <tr>
    <th>Sucursal</th>
    <th>TipoMovimiento</th>
    <th>Destino</th>
    <th>Repartidor</th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
      <td><%= order.branch.name %></td>
      <% if order.mode == "1" %>
        <td>Salida</td>
      <% elsif order.mode == "3" %>
        <td>Entrada(Transferencia)</td>
      <% elsif order.mode == "2" %>
        <td>Entrada(Proveedor)</td>
      <% end %>
      <td><%= order.destination %></td>
      <td><%= order.dealer %></td>
    <td><%= link_to 'Show', branch_mov_prod_path(@branch,order) %></td>

  </tr>
<% end %>
</table>
</div>

