<div class="hero-unit">
  <h1 align="center">Tacosmode</h1>
  <p align="center">Almacen</p>
  <div align ="center">
    <%= link_to 'Entrar', new_user_session_path, :class => "btn btn-primary btn-large" %>
  </div>

</div>
